.img-posted-by{
  width: 24px;
  height: 24px;
  background-image: url("https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #001935

}